<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Main Test Suite" verbose="5" parallel="classes" thread-count="10">
  <test name="Main Test Group">
    <packages>
        <package name="qa.testng.test" />
    </packages>
    <classes>
        <class name="qa.testng.test.factory.TestFactory" /> 
    </classes>
  </test>
</suite>
